@{
    ViewData["Title"] = "NOSOTROS";
}
<h1>@ViewData["Title"]</h1>
<br />
<h4>Misión</h4>
<p>
    Brindar una herramienta tecnológica con una lógica de operación eficaz que aumente la eficiencia de las empresas, siempre en línea con las nuevas tendencias del mercado en materia tecnológica, experiencia del cliente y simplificación operativa.
</p>
<br />
<h4>Visión</h4>
<p>
    Posicionarnos como la herramienta más versátil y con el mejor Servicio de Posventa del mercado.<br />
    Ser reconocidos como un proveedor de tecnología líder en Latinoamérica.
</p>
<br />
<h4>Valores</h4>
<p>
   <b>Compromiso:</b> Brindamos un acompañamiento permanente, cuidando aspectos fundamentales del negocio a nivel tecnológico y operativo.<br />
   <b>Perseverancia:</b> Mantenemos nuestra actitud de mejora continua para brindar cada vez mejores soluciones e incorporando siempre las últimas tecnologías.<br />
   <b>Trabajo en equipo:</b> Trabajar internamente y con nuestros clientes para mejorar en forma sostenida nuestro producto y servicios.
</p>

