@model Persona

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>FechaAlta</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.UserName</td>
            <td>@Model.Email</td>
            <td>@Model.FechaAlta</td>
        </tr>
    </tbody>

</table>