@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>
<br />
<h4>CONSENTIMIENTO</h4>
<p>
    ¿Cómo obtienen mi consentimiento? <br />
    Cuando nos provees tu información personal implicamos que aceptas la recolección y uso por la razón específica por la cual fue solicitada. <br />
    Si te pedimos tu información personal por una razón secundaria,te pediremos directamente tu expreso consentimiento, o te daremos la oportunidad de negarte.<br />
    <br />
    ¿Cómo puedo anular mi consentimiento?<br />
        Si luego de haber aceptado cambias de opinión, puedes anular tu consentimiento.
</p>
<br />
<h4>DIVULGACIÓN</h4>
<p>Podemos divulgar tu información personal si se nos requiere por ley o si violas nuestros Términos de Servicio.</p>
<br />
<h4>EDAD DE CONSENTIMIENTO</h4>
<p>
    Al utilizar esta solución, declaras que tienes al menos la mayoría de edad en tu estado o provincia de residencia, o que tienes la mayoría de edad en tu estado o provincia de residencia y que nos has dado tu consentimiento para permitir que cualquiera de tus dependientes menores use esta solución.
</p>

